<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sobre Nosotros</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta name="description" content="Conoce un poco mas acerca de Barberia Tonys">
        <meta name="keywords" content="barberia, tonys, mexicali, corte, pelo, peluquero, estetica, imagen, belleza, salud, historia, personal, sobre nosotros">



        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/animate/animate.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="../css/estilo.css" rel="stylesheet">
        
    </head>

    <body>
        <!-- Inicio Top Bar -->
        <div class="top-bar d-none d-md-block">     
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="top-bar-left">
                            <div class="text">
                                <h2>10:00 - 19:00</h2>
                                <p>Cerrado los Jueves</p>
                            </div>
                            <div class="text">
                                <h2>+52 (686)3222446</h2>
                                <p>Agendar Cita</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="top-bar-right">
                            <div class="social">
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=https://www.instagram.com/tonysmxlibarbershop target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin Top Bar -->

        <!-- Inicio Navbar -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a href="../index.html" class="navbar-brand">Barberia <span>Tonys</span></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="../index.html" class="nav-item nav-link">Home</a>
                        <a href="../views/servicios.html" class="nav-item nav-link">Servicios</a>
                        <a href="../views/nosotros.html" class="nav-item nav-link">Sobre Nosotros</a>
                        <a href="../views/precios.html" class="nav-item nav-link">Precios</a>
                        <a href="../views/contacto.html" class="nav-item nav-link">Contacto</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin NavBar -->


        <!-- Inicio Header -->
        <div class="page-header">
            <div class="container">
                    <div class="col-12">
                        <h2>Sobre Nosotros</h2>
                    </div>
            </div>
        </div>
        <!-- Final Header -->

		<div class="single">
            <div class="container">
                <div class="section-header text-center">
					<img src="../assets/img/barberia.jpg" alt="Image">
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>
                            Con un concepto único, diferente y que rescata las tradiciones mas valiosas en el arte de la barbería, Barberia Tonys abre las puertas de su primera sucursal el 14 de Febrero del 1980, como un espacio exclusivo para caballeros, con un toque familiar que le permita sentir el ambiente de las barberías clásicas.
                        </p>
                        <p>
                            Cuidando cada detalle de las barberías clásicas, Barberia Tonys representa un conjunto de experiencias, tradiciones y costumbres recreadas en un espacio lleno de comodidad.
                        </p>
                        <p>
                            Toques de madera en todo la barbería con un techo con vigas de madera es trasladarnos a las antiguas casas donde iniciaron las barberías del mundo. Sumado con la imagen del barbero, camisa blanca con chaleco gris, sumamente elegante con productos de la mas alta calidad y un toque de música jazz es vivir la aventura de Barberia Tonys.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inicio Footer -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-contact">
                                    <h2>Dirección</h2>
                                    <p><i class="fa fa-map-marker-alt"></i>San Marino 3236, Mexicali, B.C</p>
                                    <p><i class="fa fa-phone-alt"></i>+52 6863222446</p>
                                    <p><i class="fa fa-envelope"></i>acaryes@gmail.com</p>
                                    <div class="footer-social">
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        <!-- Fin Footer -->
    </body>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>        
    <script src="../assets/js/main.js"></script>
</html>
