<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/estilo.css" />
  </head>

  <body>
    <!-- inicio encabezado -->
    <header class="header">
      <!-- LOGO -->
      <div>
        <img src="../assets/img/logo.png" />
      </div>
      <!-- cierre logo -->
      <!-- inicio nav -->
      <nav>
        <ul>
          <li class="nav__item"><a href="../index.html"> Home</a></li>
          <li class="nav__item">
            <a href="servicios.html">Servicios</a>
          </li>
          <li class="nav__item">
            <a href="nosotros.html">Sobre Nosotros</a>
          </li>
          <li class="nav__item"><a href="precios.html">Precios</a></li>
          <li class="nav__item"><a href="contacto.html">Contacto</a></li>
        </ul>
      </nav>
      <!-- cierre nav -->
    </header>
    <!-- cierre encabezado -->
    <!-- inicio contenido -->
    <div class="single">
      <div class="container__servicio">
        <div class="section-header text-center">
          <h2>Sobre nosotros</h2>
        </div>
        <div class="row">
          <div class="col-12">
            <img class="nosotros__img" src="../assets/img/barberia.jpg" alt="Image" />
            <h2>Historia</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
              finibus felis luctus nibh fermentum efficitur. Donec nec turpis
              pharetra, dapibus magna nec, condimentum quam. Fusce consequat
              convallis est, ac mollis nulla bibendum porta. Vivamus a lobortis
              velit, at tristique lorem. Integer vulputate vel dui id elementum.
              Suspendisse eros lectus, efficitur accumsan purus eu, interdum
              condimentum turpis. In hac habitasse platea dictumst. Integer
              tincidunt, est sed eleifend semper, justo felis fermentum libero,
              sit amet tristique tellus tortor nec diam. Donec at congue metus.
              Aliquam id porttitor nulla. Cras imperdiet facilisis magna, at
              posuere mauris. Curabitur at pretium velit, sit amet scelerisque
              elit. Aenean consectetur imperdiet neque, ut efficitur metus
              congue id. Proin ultrices metus sit amet quam mollis, non mattis
              urna tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Praesent ornare est convallis eros bibendum, quis faucibus
              diam vehicula. Suspendisse condimentum mi dui, et dignissim augue
              interdum id. Vestibulum sed sapien varius metus luctus posuere vel
              ac tortor. Vestibulum ante ipsum primis in faucibus orci luctus et
              ultrices posuere cubilia curae; Ut sollicitudin suscipit elit, in
              malesuada risus lobortis nec. Suspendisse dictum lacus enim,
              accumsan tincidunt dolor rhoncus bibendum. Nullam volutpat leo sed
              velit laoreet, nec pretium magna efficitur. Ut facilisis mauris
              non lacus mattis maximus. Phasellus elementum velit sit amet
              condimentum convallis. Donec porttitor auctor venenatis. Aliquam
              dignissim metus erat, non dapibus magna tincidunt vel. Nunc vitae
              viverra massa. Morbi et eros ut risus rutrum accumsan id id erat.
              Nullam viverra et ante id fringilla. In nunc enim, auctor sit amet
              auctor vel, euismod sed nibh. Nulla vestibulum, dolor ut egestas
              dapibus, ligula quam facilisis libero, ut aliquet neque nisi at
              elit. Nullam sed nulla euismod, bibendum dui condimentum, rutrum
              est. Cras eget nunc sit amet odio volutpat porttitor hendrerit non
              tellus. Proin pulvinar vehicula placerat. Aliquam nec tempor ante.
              Integer nec libero magna. Maecenas nulla leo, iaculis ac mattis
              vel, sollicitudin nec diam. Vivamus molestie ante et lectus
              ornare, sit amet hendrerit velit ultricies. Morbi eget lorem
              pharetra, rhoncus metus nec, vehicula ex. Cras ac scelerisque
              ante, at tincidunt elit. Curabitur euismod facilisis posuere.
              Proin sed eros elit. Quisque a nunc sed nulla fermentum cursus eu
              vitae nulla. Nam porta metus eget augue eleifend, id pulvinar mi
              ultricies. Nullam egestas congue imperdiet. In eu felis nunc.
              Donec dictum ultrices facilisis. Fusce malesuada urna nec est
              blandit, id luctus neque ultrices. Donec gravida dapibus justo, ut
              laoreet mi elementum tristique. Sed sed nulla dictum ligula
              molestie dictum. Sed pellentesque ut ligula sed tincidunt. Sed
              sapien sapien, pharetra finibus ultricies at, euismod quis sapien.
              Nunc dolor dui, tincidunt bibendum eros vel, blandit commodo
              metus. Curabitur erat est, sollicitudin non sem ac, tempor egestas
              nunc. Aliquam fermentum, arcu ut iaculis dapibus, tortor elit
              gravida ipsum, eu euismod diam tortor in erat. Cras lobortis arcu
              eget pulvinar sagittis. Aliquam porta urna sit amet lectus
              interdum, eget lacinia neque viverra. Donec et orci congue,
              commodo sapien ac, congue justo. Phasellus sed odio aliquam,
              iaculis erat luctus, imperdiet ligula. Nulla ut magna vitae nisl
              posuere elementum. Pellentesque pharetra, nisl eget lacinia
              vulputate, risus dolor tempus ex, eu pharetra nulla nibh sit amet
              tortor. In mattis eros condimentum sagittis pulvinar. Vivamus at
              maximus dolor, vitae semper quam. Curabitur orci nunc, vestibulum
              a arcu vel, accumsan bibendum lacus. Donec vitae dolor nisl.
              Pellentesque feugiat et urna vel dictum. Aliquam arcu nunc,
              consectetur eget pulvinar sed, consectetur in magna.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- cierre contenido -->
    <!-- inicio footer -->
    <footer class="footer">
      <!-- LOGO -->
      <div>
        <img src="../assets/img/logo.png" />
      </div>
      <!-- Redes Sociales -->
      <div>
        <h3>Redes Sociales</h3>
        <hr class="solid" />
        <div class="container__index">
          <img src="../assets/img/facebook.png" />
        </div>
        <div class="container__index">
          <img src="../assets/img/twitter.png" />
        </div>
        <div class="container__index">
          <img src="../assets/img/instagram.png" />
        </div>
      </div>
      <!-- Contacto -->
      <div>
        <h3>Contacto</h3>
      </div>
    </footer>
  </body>
</html>
