<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inicio</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../css/estilo.css" />
	</head>

	<body>
		<!-- inicio encabezado -->
		<header class="header">
			<!-- LOGO -->
			<div>
				<img src="../assets/img/logo.png" />
			</div>
			<!-- cierre logo -->
			<!-- inicio nav -->
			<nav>
				<ul>
					<li class="nav__item"><a href="../index.html"> Home</a></li>
					<li class="nav__item">
						<a href="servicios.html">Servicios</a>
					</li>
					<li class="nav__item">
						<a href="nosotros.html">Sobre Nosotros</a>
					</li>
					<li class="nav__item"><a href="precios.html">Precios</a></li>
					<li class="nav__item"><a href="contacto.html">Contacto</a></li>
				</ul>
			</nav>
			<!-- cierre nav -->
		</header>
		<!-- cierre encabezado -->
		<!-- inicio contenido -->

		<div class="container__nosotros">
			<div class="nosotros__img">
				<img src="../assets/img/barberia.jpg" />
			</div>
			<div class="nosotros__texto">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim
				efficitur, interdum leo at, aliquet leo. Donec eu tortor posuere, pretium
				velit ut, semper metus. Praesent sit amet enim mollis, finibus augue sed,
				finibus enim. Suspendisse ultricies finibus lacus, tincidunt porta diam
				fermentum laoreet. Duis placerat aliquam risus ut feugiat. Proin vitae
				ullamcorper erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Proin vel nisl et odio scelerisque cursus id sed ipsum. Vestibulum luctus
				tincidunt nunc, sed tincidunt sapien pellentesque ut. Sed laoreet sem eu
				elit imperdiet euismod. Praesent aliquet justo in tellus rhoncus posuere.
				Nunc in tempus tellus. Donec pharetra odio urna, at congue urna pretium nec.
				Praesent non porta felis. Duis eget lobortis metus. Donec condimentum at
				sapien vel interdum. Proin dapibus rhoncus mollis. Cras et enim metus. Fusce
				efficitur felis arcu, placerat convallis eros iaculis vel. Proin sagittis
				neque justo, eget aliquam urna tincidunt eu. Sed vel odio in orci hendrerit
				euismod. Aliquam tempor scelerisque eros, non laoreet dui placerat sit amet.
				Nam vel scelerisque felis. Nulla dignissim dolor vel imperdiet aliquet.
				Suspendisse tempus turpis nec augue tincidunt luctus. Nulla in finibus nisi,
				vitae ornare dolor. Fusce quis vehicula eros. Morbi quam magna, congue ut
				dapibus vel, dignissim eu nisl. Donec sed ante at mauris volutpat mattis eu
				ac velit. Pellentesque convallis rutrum elit, non vehicula lectus sagittis
				eu. Quisque blandit tortor eu metus congue, eu dictum lectus rhoncus. Nam in
				convallis lectus. Morbi aliquet vehicula ante sed scelerisque. Proin
				malesuada vitae mi eu ornare. Class aptent taciti sociosqu ad litora
				torquent per conubia nostra, per inceptos himenaeos. Integer blandit
				placerat commodo. Integer volutpat nulla nec est finibus, et aliquet elit
				posuere. Mauris fringilla, risus ac consequat blandit, urna dui auctor
				lectus, sed convallis tellus mauris auctor justo. Aliquam at dictum eros. Ut
				nec hendrerit ligula. Nullam cursus risus quis fringilla viverra. Aenean
				mattis elementum sodales. Etiam maximus tellus imperdiet sodales maximus.
				Duis ac velit lobortis mauris posuere placerat vitae quis lectus. Nullam
				luctus lorem at libero blandit, nec gravida felis molestie. Aenean a viverra
				mi. Mauris sagittis nisi massa, nec scelerisque mauris dapibus at. Sed
				ultricies nibh semper mauris rhoncus malesuada. Vestibulum vitae turpis
				volutpat sapien elementum suscipit in vel metus. In facilisis commodo
				feugiat. Nunc vel augue bibendum magna consectetur ullamcorper rhoncus a
				metus. Etiam id velit a risus finibus tincidunt. Curabitur elementum vel
				magna ac sollicitudin. Aliquam erat volutpat. Curabitur luctus lobortis
				auctor. Donec est massa, gravida nec diam sodales, molestie consectetur
				nisi. Morbi porta elementum tortor vel viverra. Pellentesque iaculis a risus
				ac laoreet. Etiam nec tellus rutrum, pretium elit sit amet, semper neque.
				Quisque auctor ullamcorper vestibulum. Maecenas iaculis neque quis convallis
				lacinia. Pellentesque metus metus, ullamcorper eu aliquet sed, ultrices a
				diam. Fusce interdum ex vitae augue pulvinar semper. Pellentesque
				condimentum diam ut facilisis egestas. Praesent varius turpis lectus, eget
				ultrices ex auctor ut. Quisque maximus ullamcorper est sit amet porta.
			</div>
		</div>

		<!-- cierre contenido -->
		<!-- inicio footer -->
		<footer class="footer">
			<!-- LOGO -->
			<div class="logo__footer">
				<img src="../assets/img/logo.png" />
			</div>
			<!-- Redes Sociales -->
			<div class="social">
				<h3>Redes Sociales</h3>
				<hr class="solid" />
				<div class="container__index">
					<img src="../assets/img/facebook.png" />
				</div>
				<div class="container__index">
					<img src="../assets/img/twitter.png" />
				</div>
				<div class="container__index">
					<img src="../assets/img/instagram.png" />
				</div>
			</div>
			<!-- Contacto -->
			<div>
				<h3>Contacto</h3>
			</div>
		</footer>
	</body>
</html>
