<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tonys</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/animate/animate.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="../css/estilo.css" rel="stylesheet">
        
    </head>

    <body>
        <!-- Inicio Top Bar -->
        <div class="top-bar d-none d-md-block">     
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="top-bar-left">
                            <div class="text">
                                <h2>10:00 - 19:00</h2>
                                <p>Cerrado los Jueves</p>
                            </div>
                            <div class="text">
                                <h2>+52 (686)3222446</h2>
                                <p>Agendar Cita</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="top-bar-right">
                            <div class="social">
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=https://www.instagram.com/tonysmxlibarbershop target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin Top Bar -->

        <!-- Inicio Navbar -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand">Barberia <span>Tonys</span></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="../index.html" class="nav-item nav-link">Home</a>
                        <a href="../views/servicios.html" class="nav-item nav-link">Servicios</a>
                        <a href="../views/nosotros.html" class="nav-item nav-link">Sobre Nosotros</a>
                        <a href="../views/precios.html" class="nav-item nav-link">Precios</a>
                        <a href="../views/contacto.html" class="nav-item nav-link">Contacto</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin NavBar -->


        <!-- Inicio Header -->
        <div class="page-header">
            <div class="container">
                    <div class="col-12">
                        <h2>Precios</h2>
                    </div>
            </div>
        </div>
        <!-- Final Header -->

        <div class="section-header text-center">

        <table class="table table-bordered">
          <thead>
              <tr>
                  <th>Estilo</th>
                  <th>Descripcion</th>
                  <th>Precio</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Fade</td>
                  <td>Des</td>
                  <td>100</td>
              </tr>
              <tr>
                  <td>Mullet</td>
                  <td>Des</td>
                  <td>200</td>
              </tr>
              <tr>
                  <td>Mohawk</td>
                  <td>Des</td>
                  <td>300</td>
              </tr>
          </tbody>
      </table>
        </div>
        <!-- Inicio Footer -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-contact">
                                    <h2>Dirección</h2>
                                    <p><i class="fa fa-map-marker-alt"></i>San Marino 3236, Mexicali, B.C</p>
                                    <p><i class="fa fa-phone-alt"></i>+52 6863222446</p>
                                    <p><i class="fa fa-envelope"></i>acaryes@gmail.com</p>
                                    <div class="footer-social">
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        <!-- Fin Footer -->
    </body>
</html>
