<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/estilo.css" />
  </head>

  <body>
    <!-- inicio encabezado -->
    <header class="header">
      <!-- LOGO -->
      <div>
        <img src="../assets/img/logo.png" />
      </div>
      <!-- cierre logo -->
      <!-- inicio nav -->
      <nav>
        <ul>
          <li class="nav__item"><a href="../index.html"> Home</a></li>
          <li class="nav__item">
            <a href="servicios.html">Servicios</a>
          </li>
          <li class="nav__item">
            <a href="nosotros.html">Sobre Nosotros</a>
          </li>
          <li class="nav__item"><a href="precios.html">Precios</a></li>
          <li class="nav__item"><a href="contacto.html">Contacto</a></li>
        </ul>
      </nav>
      <!-- cierre nav -->
    </header>
    <!-- cierre encabezado -->
    <!-- inicio contenido -->
      <div class="servicio">
        <div class="container__servicio">
          <div class="section-header text-center">
            <p>Nuestros servicios</p>
            <h2>Los mejores servicios de barberia para ti</h2>
          </div>
          <div class="row">
            <div class="row__item">
              <div class="servicio-item">
                <div class="servicio-img">
                  <img src="../assets/img/logo.png" class="servicio-img" alt="Image" />
                </div>
                <h3>Corte de pelo</h3>
                <p>
                  Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi.
                  Curabitur facilisis ornare velit non
                </p>
                <a class="btn" href="">Ver más</a>
              </div>
            </div>
            <div class="row__item">
              <div class="servicio-item">
                <div class="servicio-img">
                  <img src="../assets/img/logo.png" alt="Image" />
                </div>
                <h3>Arreglo de barba</h3>
                <p>
                  Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi.
                  Curabitur facilisis ornare velit non
                </p>
                <a class="btn" href="">Ver más</a>
              </div>
            </div>
            <div class="row__item">
              <div class="servicio-item">
                <div class="servicio-img">
                  <img src="../assets/img/logo.png" alt="Image" />
                </div>
                <h3>Lavado y pintado de pelo</h3>
                <p>
                  Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi.
                  Curabitur facilisis ornare velit non
                </p>
                <a class="btn" href="">Ver más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- cierre contenido -->
    <!-- inicio footer -->
    <footer class="footer">
      <!-- LOGO -->
      <div>
        <img src="../assets/img/logo.png" />
      </div>
      <!-- Redes Sociales -->
      <div>
        <h3>Redes Sociales</h3>
        <hr class="solid" />
        <div class="container__index">
          <img src="../assets/img/facebook.png" />
        </div>
        <div class="container__index">
          <img src="../assets/img/twitter.png" />
        </div>
        <div class="container__index">
          <img src="../assets/img/instagram.png" />
        </div>
      </div>
      <!-- Contacto -->
      <div>
        <h3>Contacto</h3>
      </div>
    </footer>
  </body>
</html>
